.root {
  border: none;
  display: inline-flex;
  align-items: center;
  height: 40px;
  background-color: var(--primary);
  padding: 0 25px;
  font-size: 16px;
  color: var(--white-color);
  cursor: pointer;
  transition: background-color var(--transition), filter var(--transition),
    opacity var(--transition);

  &:hover {
    background-color: var(--primary-accent);
  }

  &:active:not(:disabled) {
    transform: translateY(1px);
  }

  &:disabled {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: default;
  }
}
