.root {
  grid-area: side;
  background-color: var(--primary);
  padding: 20px 10px;
  min-width: 260px;
  position: sticky;
  top: 120px;
  align-self: flex-start;

  .nav {
    display: grid;
  }

  .friends {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }
}
