.root {
  border: 1px solid var(--secondary);
  background-color: var(--bg-color);
  min-height: 120px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: var(--black-color);
  transition: border var(--transition);

  &:focus-visible {
    outline: none;
    border-color: var(--primary);
  }
}
