.root {
  grid-area: header;
  background-color: var(--primary);
  padding: 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  z-index: 1;

  img {
    max-height: calc(var(--header) - 20px);
  }
}
