.root {
  grid-area: header;
  background-color: var(--primary);
  padding: 20px;
  position: sticky;
  top: 0;
  box-shadow: var(--box-shadow);

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
